@using InternetBanking.Core.Application.ViewModels.Payment
@model AccountToAccountViewModel

<div class="row">
    <div class="col-md-6 offset-3">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Account To Account</h3>
            </div>
            <div class="card-body">
                @if (TempData["SuccessMessage"] != null)
                {
                    <div class="alert alert-success">
                        @TempData["SuccessMessage"]
                        <a asp-controller="Home" asp-action="Client" class="btn btn-warning">Home</a>
                    </div>
                }
                else
                {
                    @if (TempData["ErrorMessage"] != null)
                    {
                        <div class="alert alert-danger">
                            @TempData["ErrorMessage"]
                        </div>
                    }
                    <form asp-controller="Payment" asp-action="AccountToAccount">
                        <div class="mb-3">
                            <label asp-for=SenderProductId class="form-label">Cuenta origen</label>
                            <select asp-for=SenderProductId class="form-select">
                                <option value="">Select source account</option>
                                @foreach (var accountOrigin in Model.Accounts)
                                {
                                    <option value="@accountOrigin.Id">@accountOrigin.Id</option>
                                }
                            </select>
                            <span asp-validation-for="SenderProductId" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="RecieverProductId" class="form-label">Cuenta destino</label>
                            <select asp-for="RecieverProductId" class="form-select">
                                <option value="">Select destiny account</option>
                                @foreach (var accountDestiny in Model.Accounts)
                                {
                                    <option value="@accountDestiny.Id">@accountDestiny.Id</option>
                                }
                            </select>
                            <span asp-validation-for="RecieverProductId" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for=Monto class="form-label">Monto</label>
                            <input asp-for="Monto" class="form-control" oninput="replaceDotWithComma(this)" />
                            <span asp-validation-for="Monto" class="text-danger"></span>
                        </div>
                        <button class="btn btn-primary" type="submit">Realizar</button>
                        <a asp-controller="Home" asp-action="Client" class="btn btn-warning">Cancelar</a>
                    </form>
                }
            </div>
        </div>
    </div>
</div>
<script>
function replaceDotWithComma(input) {
    input.value = input.value.replace('.', ',');
}
</script>